
#not to include
Genotype_QC_Package_NIH/*
# the following two files are required for the step2 of pre imputation
Genotype_QC_Package_NIH_TOPMed/HRC.r1-1.GRCh37.wgs.mac5.sites.vcf.gz
Genotype_QC_Package_NIH_TOPMed/After_QC/hs37d5.fa
Genotype_QC_Package_NIH_TOPMed/After_QC/PASS.Variants.BRAVO_TOPMed_Freeze_8_hg19.tab.gz
HRC_pipeline/*
*/*.bed 
*.bed 
Genotype_QC_Package_NIH_TOPMed/After_QC/HRC-1000G-check-bim-v4.3.0.zip